<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes el destino feliz</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <style type="text/css">
        .container{
         justify-content: center;
         width: 600px;
         padding: 1%;
         
        }
        
      </style>
  </head>
  <body>
 <div class="container" >
        <center>
            <img src="./img/viaje.jpg" alt="" height="150" width="150">,
             <h2 class="display-4 text-primary"><b>Viajes el destino feliz</b></h2>
        </center>
        <form method="post">

          <label for="numeroBoleto">Número de boleto:</label>
          <input type="text" id="numeroBoleto" name="numeroBoleto" required><br><br>

          <label for="destino">Destino:</label>
          <input type="text" id="destino" name="destino" required><br><br>

          <label for="nombreCliente">Nombre del cliente:</label>
          <input type="text" id="nombreCliente" name="nombreCliente" required><br><br>

          <label for="edad">Edad:</label>
          <input type="number" id="edad" name="edad" required><br><br>

          <label for="precio">Precio del boleto:</label>
          <input type="number" id="precio" name="precio" required><br><br>

          <label for="tipoBoleto">Tipo de boleto:</label>
          <select id="tipoBoleto" name="tipoBoleto">
            <option value="1">Sencillo</option>
            <option value="2">Doble</option>
          </select><br><br>
        <center>
          <button type="button" class="btn btn-outline-primary btn-xs" onclick="calcular()">Calcular</button>
          <button type="reset" class="btn btn-outline-primary btn-xs">Limpiar</button>
        </center>
    </form>

    <hr>

    <div id="resultados"></div>
    
    <%-include('partials/piePagina.html')%>

    <script>
      function calcular() {

        const numeroBoleto = document.getElementById("numeroBoleto").value;
        const destino = document.getElementById("destino").value;
        const nombreCliente = document.getElementById("nombreCliente").value;
        const edad = parseInt(document.getElementById("edad").value);
        const precio = parseFloat(document.getElementById("precio").value);
        const tipoBoleto = parseInt(
          document.getElementById("tipoBoleto").value
        );

        let subtotal = tipoBoleto === 1 ? precio : precio * 1.8;
        let descuento = edad >= 60 ? subtotal * 0.5 : 0;
        let impuesto = subtotal * 0.16;
        let total = subtotal + impuesto - descuento;

        let resultados =
          "<h2>Informacion del pago:</h2>" +
          "<p>Número de boleto: " + numeroBoleto + "</p>" +
          "<p>Destino: " +destino +"</p>" +
          "<p>Nombre del cliente: " +nombreCliente +"</p>" +
          "<p>Edad: " +edad +"</p>" +
          "<p>Precio del boleto: $" +precio.toFixed(2) +"</p>" +
          "<p>Tipo de boleto: " +(tipoBoleto === 1 ? "Sencillo" : "Doble") +"</p>" +
          "<p>Subtotal: $" + subtotal.toFixed(2) +"</p>" +
          "<p>Impuesto: $" + impuesto.toFixed(2) +"</p>" +
          "<p>Descuento: $" + descuento.toFixed(2) +"</p>" +
          "<p>Total a pagar: $" +total.toFixed(2) +"</p>";

        document.getElementById("resultados").innerHTML = resultados;
        
        // Enviar los datos por el método post
        const formData = new FormData();
        formData.append("numeroBoleto", numeroBoleto);
        formData.append("destino", destino);
        formData.append("nombreCliente", nombreCliente);
        formData.append("edad", edad);
        formData.append("precio", precio);
        formData.append("tipoBoleto", tipoBoleto);
        formData.append("subtotal", subtotal);
        formData.append("impuesto", impuesto);
        formData.append("descuento", descuento);
        formData.append("total", total);

        fetch("url_del_servidor", {
          method: "POST",
          body: formData,
        });
      }
    </script>

</body>
</html>